# Data Analysis Using Pandas
In this program I perform data analysis on two files that are downloaded from the internet using Pandas module in Python. One data file is information about countries and the other contains data related to covid in the countries. I answer a number of questions which are written in markdown, the cell below the markdown contains the code.

In [1]:
import pandas as pd
from urllib.request import urlretrieve
urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')
countries_df = pd.read_csv('countries.csv')
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

__Q1: How many countries does the dataframe contain?__

In [3]:
num_countries = countries_df.shape[0]
num_countries

210

__Q2: Retrieve a list of continents from the dataframe?__

In [11]:
continents = countries_df['continent'].unique()
continents1 = pd.unique(countries_df['continent'])
print(continents)
print(continents1)

['Asia' 'Europe' 'Africa' 'North America' 'South America' 'Oceania']
['Asia' 'Europe' 'Africa' 'North America' 'South America' 'Oceania']

__Q3: What is the total population of all the countries listed in this dataset?__

In [13]:
total_population = countries_df['population'].sum()
total_population

7757980095.0

__Q4: What is the overall life expectancy across in the world?__

In [16]:
avglifeexpectancy = ((countries_df['population'] / total_population) * countries_df['life_expectancy']).sum() 
print(avglifeexpectancy)

72.72165193409664

**Q5: Create a dataframe containing 10 countries with the highest population.**

In [19]:
most_populous = countries_df.sort_values(['population'], ascending = False).head(10)
print(most_populous)

          location      continent    population  life_expectancy  \
41           China           Asia  1.439324e+09            76.91
90           India           Asia  1.380004e+09            69.66
199  United States  North America  3.310026e+08            78.86
91       Indonesia           Asia  2.735236e+08            71.72
145       Pakistan           Asia  2.208923e+08            67.27
27          Brazil  South America  2.125594e+08            75.88
141        Nigeria         Africa  2.061396e+08            54.69
15      Bangladesh           Asia  1.646894e+08            72.59
157         Russia         Europe  1.459345e+08            72.58
125         Mexico  North America  1.289328e+08            75.05

     hospital_beds_per_thousand  gdp_per_capita
41                         4.34       15308.712
90                         0.53        6426.674
199                        2.77       54225.446
91                         1.04       11188.744
145                        0.60        5034.708
27                         2.20       14103.452
141                         NaN        5338.454
15                         0.80        3523.984
157                        8.05       24765.954
125                        1.38       17336.469

**Q6: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [21]:
countries_df['gdp'] = countries_df['population'] * countries_df['gdp_per_capita']
countries_df.head(10)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
5,Anguilla,North America,15002.0,81.88,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943,2.104565e+09
7,Argentina,South America,45195777.0,76.67,5.00,18933.907,8.557326e+11
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580,2.603966e+10
9,Aruba,North America,106766.0,76.29,NaN,35973.781,3.840777e+09

**Q7: Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [23]:
lowestgdp_df = countries_df[countries_df['population'] > 100e6].sort_values('gdp_per_capita', ascending = True).head(10)
print(lowestgdp_df)

        location      continent    population  life_expectancy  \
63      Ethiopia         Africa  1.149636e+08            66.60
15    Bangladesh           Asia  1.646894e+08            72.59
145     Pakistan           Asia  2.208923e+08            67.27
141      Nigeria         Africa  2.061396e+08            54.69
90         India           Asia  1.380004e+09            69.66
151  Philippines           Asia  1.095811e+08            71.23
58         Egypt         Africa  1.023344e+08            71.99
91     Indonesia           Asia  2.735236e+08            71.72
27        Brazil  South America  2.125594e+08            75.88
41         China           Asia  1.439324e+09            76.91

     hospital_beds_per_thousand  gdp_per_capita           gdp
63                         0.30        1729.927  1.988786e+11
15                         0.80        3523.984  5.803628e+11
145                        0.60        5034.708  1.112128e+12
141                         NaN        5338.454  1.100467e+12
90                         0.53        6426.674  8.868838e+12
151                        1.00        7599.188  8.327273e+11
58                         1.60       10550.206  1.079649e+12
91                         1.04       11188.744  3.060386e+12
27                         2.20       14103.452  2.997821e+12
41                         4.34       15308.712  2.203419e+13

**Q8: Create a data frame that counts the number countries in each continent?**

In [28]:
country_count = countries_df.groupby('continent')['location'].count()
print(country_count)

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

**Q9: Create a data frame showing the total population of each continent.**

In [29]:
population_count = countries_df.groupby('continent')['population'].sum()
print(population_count)

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

Downloading another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [30]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x1e565cd70d0>)

In [32]:
covid_data_df = pd.read_csv('covid-countries-data.csv')
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q10: Count the number of countries for which the `total_tests` data is missing.**

In [52]:
total_test_missing_count = covid_data_df ['total_tests'].isna().sum()
print(total_test_missing_count)

122

**Q11: Merge `countries_df` with `covid_data_df` on the `location` column.**

In [55]:
combined_df = countries_df.merge(covid_data_df, on='location')
print(combined_df)

           location continent  population  life_expectancy  \
0       Afghanistan      Asia  38928341.0            64.83
1           Albania    Europe   2877800.0            78.57
2           Algeria    Africa  43851043.0            76.88
3           Andorra    Europe     77265.0            83.73
4            Angola    Africa  32866268.0            61.15
..              ...       ...         ...              ...
205         Vietnam      Asia  97338583.0            75.40
206  Western Sahara    Africa    597330.0            70.26
207           Yemen      Asia  29825968.0            66.12
208          Zambia    Africa  18383956.0            63.89
209        Zimbabwe    Africa  14862927.0            61.49

     hospital_beds_per_thousand  gdp_per_capita           gdp  total_cases  \
0                          0.50        1803.987  7.022622e+10      38243.0
1                          2.89       11803.431  3.396791e+10       9728.0
2                          1.90       13913.839  6.101364e+11      45158.0
3                           NaN             NaN           NaN       1199.0
4                           NaN        5819.495  1.912651e+11       2729.0
..                          ...             ...           ...          ...
205                        2.60        6171.884  6.007624e+11       1046.0
206                         NaN             NaN           NaN        766.0
207                        0.70        1479.147  4.411699e+10       1976.0
208                        2.00        3689.251  6.782303e+10      12415.0
209                        1.70        1899.775  2.823622e+10       6638.0

     total_deaths  total_tests
0          1409.0          NaN
1           296.0          NaN
2          1525.0          NaN
3            53.0          NaN
4           109.0          NaN
..            ...          ...
205          35.0     261004.0
206           1.0          NaN
207         571.0          NaN
208         292.0          NaN
209         206.0      97272.0

[210 rows x 10 columns]

**Q12: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [56]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [58]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [59]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [60]:
print(combined_df)

           location continent  population  life_expectancy  \
0       Afghanistan      Asia  38928341.0            64.83
1           Albania    Europe   2877800.0            78.57
2           Algeria    Africa  43851043.0            76.88
3           Andorra    Europe     77265.0            83.73
4            Angola    Africa  32866268.0            61.15
..              ...       ...         ...              ...
205         Vietnam      Asia  97338583.0            75.40
206  Western Sahara    Africa    597330.0            70.26
207           Yemen      Asia  29825968.0            66.12
208          Zambia    Africa  18383956.0            63.89
209        Zimbabwe    Africa  14862927.0            61.49

     hospital_beds_per_thousand  gdp_per_capita           gdp  total_cases  \
0                          0.50        1803.987  7.022622e+10      38243.0
1                          2.89       11803.431  3.396791e+10       9728.0
2                          1.90       13913.839  6.101364e+11      45158.0
3                           NaN             NaN           NaN       1199.0
4                           NaN        5819.495  1.912651e+11       2729.0
..                          ...             ...           ...          ...
205                        2.60        6171.884  6.007624e+11       1046.0
206                         NaN             NaN           NaN        766.0
207                        0.70        1479.147  4.411699e+10       1976.0
208                        2.00        3689.251  6.782303e+10      12415.0
209                        1.70        1899.775  2.823622e+10       6638.0

     total_deaths  total_tests  tests_per_million  cases_per_million  \
0          1409.0          NaN                NaN         982.394806
1           296.0          NaN                NaN        3380.359997
2          1525.0          NaN                NaN        1029.804468
3            53.0          NaN                NaN       15518.022390
4           109.0          NaN                NaN          83.033462
..            ...          ...                ...                ...
205          35.0     261004.0        2681.403324          10.745996
206           1.0          NaN                NaN        1282.373228
207         571.0          NaN                NaN          66.250993
208         292.0          NaN                NaN         675.317108
209         206.0      97272.0        6544.605918         446.614587

     deaths_per_million
0             36.194710
1            102.856349
2             34.776824
3            685.950948
4              3.316470
..                  ...
205            0.359570
206            1.674116
207           19.144391
208           15.883415
209           13.859989

[210 rows x 13 columns]

**Q13: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [62]:
highest_test_df = combined_df.sort_values('tests_per_million', ascending = False).head(10)
print(highest_test_df)

                 location      continent   population  life_expectancy  \
197  United Arab Emirates           Asia    9890400.0            77.97
14                Bahrain           Asia    1701583.0            77.29
115            Luxembourg         Europe     625976.0            82.25
122                 Malta         Europe     441539.0            82.53
53                Denmark         Europe    5792203.0            80.90
96                 Israel           Asia    8655541.0            82.97
89                Iceland         Europe     341250.0            82.99
157                Russia         Europe  145934460.0            72.58
199         United States  North America  331002647.0            78.86
10              Australia        Oceania   25499881.0            83.44

     hospital_beds_per_thousand  gdp_per_capita           gdp  total_cases  \
197                       1.200       67293.483  6.655595e+11      71540.0
14                        2.000       43290.705  7.366273e+10      52440.0
115                       4.510       94277.965  5.901574e+10       7928.0
122                       4.485       36513.323  1.612206e+10       1931.0
53                        2.500       46682.515  2.703946e+11      17195.0
96                        2.990       33132.320  2.867782e+11     122539.0
89                        2.910       46482.958  1.586231e+10       2121.0
157                       8.050       24765.954  3.614206e+12    1005000.0
199                       2.770       54225.446  1.794877e+13    6114406.0
10                        3.840       44648.710  1.138537e+12      25923.0

     total_deaths  total_tests  tests_per_million  cases_per_million  \
197         387.0    7177430.0      725696.635121        7233.276713
14          190.0    1118837.0      657527.137965       30818.361490
115         124.0     385820.0      616349.508607       12665.022301
122          13.0     188539.0      427004.183096        4373.339614
53          626.0    2447911.0      422621.755488        2968.645954
96          969.0    2353984.0      271962.665303       14157.289533
89           10.0      88829.0      260304.761905        6215.384615
157       17414.0   37176827.0      254750.159763        6886.653091
199      185744.0   83898416.0      253467.507769       18472.377957
10          663.0    6255797.0      245326.517406        1016.592979

     deaths_per_million
197           39.128852
14           111.660730
115          198.090662
122           29.442473
53           108.076323
96           111.951408
89            29.304029
157          119.327539
199          561.155633
10            26.000121

**Q14: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [68]:
highest_case_df =  combined_df.sort_values('cases_per_million', ascending = False).head(10)
print(highest_case_df)

          location      continent   population  life_expectancy  \
155          Qatar           Asia    2881060.0            80.23
14         Bahrain           Asia    1701583.0            77.29
147         Panama  North America    4314768.0            78.51
40           Chile  South America   19116209.0            80.18
162     San Marino         Europe      33938.0            84.97
9            Aruba  North America     106766.0            76.29
105         Kuwait           Asia    4270563.0            75.49
150           Peru  South America   32971846.0            76.74
27          Brazil  South America  212559409.0            75.88
199  United States  North America  331002647.0            78.86

     hospital_beds_per_thousand  gdp_per_capita           gdp  total_cases  \
155                        1.20      116935.600  3.368985e+11     119206.0
14                         2.00       43290.705  7.366273e+10      52440.0
147                        2.30       22267.037  9.607710e+10      94084.0
40                         2.11       22767.037  4.352194e+11     414739.0
162                        3.80       56861.470  1.929765e+09        735.0
9                           NaN       35973.781  3.840777e+09       2211.0
105                        2.00       65530.537  2.798523e+11      86478.0
150                        1.60       12236.706  4.034668e+11     663437.0
27                         2.20       14103.452  2.997821e+12    3997865.0
199                        2.77       54225.446  1.794877e+13    6114406.0

     total_deaths  total_tests  tests_per_million  cases_per_million  \
155         199.0     634745.0      220316.480740       41375.743650
14          190.0    1118837.0      657527.137965       30818.361490
147        2030.0     336345.0       77952.047480       21805.112117
40        11344.0    2458762.0      128621.841287       21695.671982
162          42.0          NaN                NaN       21657.139490
9            12.0          NaN                NaN       20708.839893
105         535.0     621616.0      145558.325682       20249.789079
150       29259.0     584232.0       17719.117092       20121.318048
27       123780.0    4797948.0       22572.268255       18808.224105
199      185744.0   83898416.0      253467.507769       18472.377957

     deaths_per_million
155           69.071800
14           111.660730
147          470.477208
40           593.423100
162         1237.550828
9            112.395332
105          125.276222
150          887.393445
27           582.331314
199          561.155633

**Q15: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [65]:
highest_death_df =  combined_df.sort_values('deaths_per_million', ascending = False).head(10)
print(highest_death_df)

           location      continent   population  life_expectancy  \
162      San Marino         Europe      33938.0            84.97
150            Peru  South America   32971846.0            76.74
18          Belgium         Europe   11589616.0            81.63
3           Andorra         Europe      77265.0            83.73
177           Spain         Europe   46754783.0            83.56
198  United Kingdom         Europe   67886004.0            81.32
40            Chile  South America   19116209.0            80.18
97            Italy         Europe   60461828.0            83.51
27           Brazil  South America  212559409.0            75.88
182          Sweden         Europe   10099270.0            82.80

     hospital_beds_per_thousand  gdp_per_capita           gdp  total_cases  \
162                        3.80       56861.470  1.929765e+09        735.0
150                        1.60       12236.706  4.034668e+11     663437.0
18                         5.64       42658.576  4.943965e+11      85817.0
3                           NaN             NaN           NaN       1199.0
177                        2.97       34272.360  1.602397e+12     479554.0
198                        2.54       39753.244  2.698689e+12     338676.0
40                         2.11       22767.037  4.352194e+11     414739.0
97                         3.18       35220.084  2.129471e+12     271515.0
27                         2.20       14103.452  2.997821e+12    3997865.0
182                        2.22       46949.283  4.741535e+11      84532.0

     total_deaths  total_tests  tests_per_million  cases_per_million  \
162          42.0          NaN                NaN       21657.139490
150       29259.0     584232.0       17719.117092       20121.318048
18         9898.0    2281853.0      196887.713967        7404.645676
3            53.0          NaN                NaN       15518.022390
177       29194.0    6416533.0      137238.001939       10256.790198
198       41514.0   13447568.0      198090.434075        4988.892850
40        11344.0    2458762.0      128621.841287       21695.671982
97        35497.0    5214766.0       86248.897403        4490.684602
27       123780.0    4797948.0       22572.268255       18808.224105
182        5820.0          NaN                NaN        8370.109919

     deaths_per_million
162         1237.550828
150          887.393445
18           854.040375
3            685.950948
177          624.406705
198          611.525168
40           593.423100
97           587.097697
27           582.331314
182          576.279276

**Q16: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [133]:
#countries_cases_tests = (highest_test_df.sort_values('location')['location'].reset_index(drop=True) == highest_case_df.sort_values('location')['location'].reset_index(drop=True)).sum()
#print(countries_cases_tests)

#countries_cases_tests1 = (highest_test_df.sort_index()['location'].reset_index(drop=True) == highest_case_df.sort_index()['location'].reset_index(drop=True)).sum()
#countries_cases_tests = (highest_test_df.sort_index().index == highest_case_df.sort_index().index).sum()
#print(countries_cases_tests)

#countries_cases_tests = highest_test_df.merge(highest_case_df, on='location').shape[0]
#print(countries_cases_tests)

countries_cases_tests = highest_test_df['location'].isin(highest_case_df['location']).sum()
print(countries_cases_tests)

2

**Q17: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [135]:
lowest_gdp_df = combined_df[combined_df['population'] > 10e6].sort_values('gdp_per_capita', ascending = True).head(20)
lowest_bed_df = combined_df[combined_df['population'] > 10e6].sort_values('hospital_beds_per_thousand', ascending = True).head(20)

#print(lowest_gdp_df.sort_values('location')['location'])
#print(lowest_bed_df.sort_values('location')['location'])

#print(lowest_gdp_df.sort_index().index)
#print(lowest_bed_df.sort_index().index)

#countries_common_gdp_bed = (lowest_gdp_df.sort_index().index == lowest_bed_df.sort_index().index).sum()
#print(countries_common_gdp_bed)

#countries_common_gdp_bed = lowest_gdp_df.merge(lowest_bed_df,on='location').shape[0]
#print(countries_common_gdp_bed)

countries_common_gdp_bed = lowest_gdp_df['location'].isin(lowest_bed_df['location']).sum()
print(countries_common_gdp_bed)

14